local.properties
project.properties
.idea
.settings
.gradle
gradlew*
gen/
gradle/
build/
muzima-ui.iml
gen-external-apklibs/
out/
tmp/
*.iml
classes/
*.DS_Store
*.swp
*.apk
app/debug
/release/output-metadata.json
