[submodule "assets/js/ziggy"]
	path = assets/js/ziggy
	url = git@github.com:modilabs/ziggy.git
[submodule "assets/js/form/ziggy"]
	path = assets/js/form/ziggy
	url = https://github.com/modilabs/ziggy
