<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.muzima"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:name=".MuzimaApplication">
        <meta-data
                android:name="android.app.default_searchable"
                android:value="com.muzima.view.SearchResultsActivity"/>

        <activity
                android:name="com.muzima.view.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.muzima.view.login.LoginActivity"
                android:label="@string/app_name"
                android:theme="@style/AppThemeNoActionBar">
        </activity>

        <activity
                android:name="com.muzima.view.cohort.CohortActivity"
                android:label="@string/title_activity_cohort_list"
                android:parentActivityName="com.muzima.view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.DashboardActivity"/>
        </activity>
        <activity
                android:name="com.muzima.view.SearchResultsActivity"
                android:label="@string/title_activity_search_results"
                android:parentActivityName="com.muzima.view.ClientListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity
                android:name=".view.preferences.SettingsActivity"
                android:theme="@style/PreferencesTheme"
                android:label="@string/title_activity_settings"
                android:parentActivityName="com.muzima.view.MainActivity">
        </activity>
        <activity
                android:name=".view.preferences.CohortPreferenceActivity"
                android:theme="@style/PreferencesTheme"
                android:label="@string/title_activity_cohort_pref"
                android:parentActivityName="com.muzima.view.preferences.SettingsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.preferences.SettingsActivity"/>
        </activity>
        <activity
                android:name=".view.preferences.ConceptPreferenceActivity"
                android:theme="@style/PreferencesTheme"
                android:label="@string/title_activity_concept_pref"
                android:parentActivityName="com.muzima.view.preferences.SettingsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.preferences.SettingsActivity"/>
        </activity>
        <activity
                android:name="com.muzima.view.HelpActivity"
                android:label="@string/title_activity_help"
                android:parentActivityName="com.muzima.view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.DashboardActivity"/>
        </activity>
        <activity
                android:name="com.muzima.view.LogoutActivity"
                android:label="@string/title_activity_logout"
                android:parentActivityName="com.muzima.view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.DashboardActivity"/>
        </activity>
        <activity
                android:name="com.muzima.view.RegisterClientActivity"
                android:label="@string/title_activity_register_client"
                android:parentActivityName="com.muzima.view.ClientListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.ClientListActivity"/>
        </activity>
        <activity
                android:name="com.muzima.view.SyncActivity"
                android:label="@string/title_activity_sync"
                android:parentActivityName="com.muzima.view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.DashboardActivity"/>
        </activity>
        <activity
                android:name="com.muzima.view.FormListActivity"
                android:label="@string/title_activity_form_list"
                android:parentActivityName="com.muzima.view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.DashboardActivity"/>
        </activity>
        <activity
                android:name=".view.patients.PatientsListActivity"
                android:label="@string/title_activity_clients_list"
                android:parentActivityName="com.muzima.view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.DashboardActivity"/>
        </activity>

        <activity
                android:name=".view.forms.FormsActivity"
                android:label="@string/title_activity_form_list"
                android:parentActivityName="com.muzima.view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.DashboardActivity"/>
        </activity>
        <activity
                android:name=".view.forms.FormWebViewActivity"
                android:label="@string/title_activity_form_webview"
                android:parentActivityName="com.muzima.view.forms.FormsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.forms.FormsActivity"/>
        </activity>
        <activity
                android:name="com.muzima.view.NoticeListActivity"
                android:label="@string/title_activity_notice_list"
                android:parentActivityName="com.muzima.view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.DashboardActivity"/>
        </activity>
        <activity
                android:name=".view.patients.PatientSummaryActivity"
                android:label="@string/title_activity_client_summary"
                android:parentActivityName="com.muzima.view.ClientListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.ClientListActivity"/>
        </activity>

        <activity
                android:name=".view.forms.PatientFormsActivity"
                android:label="@string/title_activity_client_summary"
                android:parentActivityName="com.muzima.view.patients.PatientSummaryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.patients.PatientSummaryActivity"/>
        </activity>

        <activity
                android:name=".view.patients.ObservationsActivity"
                android:label="@string/title_activity_client_observations"
                android:parentActivityName="com.muzima.view.patients.PatientSummaryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.patients.PatientSummaryActivity"/>
        </activity>

        <activity android:name=".view.forms.RegistrationFormsActivity"
                  android:label="Select Registration Form"/>

        <!--Wizard Activities Start-->
        <activity android:name=".view.cohort.CohortWizardActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar"/>
        <activity android:name=".view.cohort.CohortPrefixWizardActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar"/>
        <activity android:name=".view.cohort.FormTemplateWizardActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar"/>
        <activity android:name=".view.cohort.CustomConceptWizardActivity"
                  android:label="Define Custom Concept"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar"/>
        <!--Wizard Activities End-->

        <service android:name=".service.DataSyncService"
                 android:exported="false"/>

    </application>

</manifest>