.section {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 10px 5px;
}

.required {
    color: red;
}

.error {
    color: red;
    font-weight: normal;
}

input.error {
    border: 1px solid red;
    color: black;
}

.barcode_btn {
    height: 18px;
    width: 7%;
    display: inline-block;
    line-height: 18px;
    padding: 16px 23px;
    margin-right: 4px !important;
    border-radius: 4px;
    background: #ffffff url("../images/barcode_icon.png") no-repeat center;
}

.barcode_text {
    display: inline-block;
    width: 90%;
}

.image_btn {
    height: 6%;
    width: 12%;
    display: inline-block;
    line-height: 18px;
    padding: 16px 23px;
    margin-right: 4px !important;
    border-radius: 4px;
    background: #ffffff url("../images/imaging_icon.png") no-repeat center;
}

.image_text {
    display: inline-block;
    width: 90%;
}

.audio_record_btn {
    height: 6%;
    width: 12%;
    display: inline-block;
    line-height: 18px;
    padding: 16px 23px;
    margin-right: 4px !important;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.09) url("../images/audio_record_icon.png") no-repeat center;
}

.audio_record_text {
    display: inline-block;
    width: 90%;
}

.video_record_btn {
    height: 6%;
    width: 12%;
    display: inline-block;
    line-height: 18px;
    padding: 16px 23px;
    margin-right: 4px !important;
    border-radius: 4px;
    background: #ffffff url("../images/video_record_icon.png") no-repeat center;
}

.video_record_text {
    display: inline-block;
    width: 90%;
}

#pre_populate_data{
    display: none;
}

span.clear{
    display: block;
    clear:left;
}

.datepicker{
    background: white !important;
}

.font-normal {
    font-weight: normal;
}