<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) The Trustees of Indiana University, Moi University
  ~ and Vanderbilt University Medical Center. All Rights Reserved.
  ~
  ~ This version of the code is licensed under the MPL 2.0 Open Source license
  ~ with additional health care disclaimer.
  ~ If the user is an entity intending to commercialize any application that uses
  ~  this code in a for-profit venture,please contact the copyright holder.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.muzima"
          android:versionCode="${versionCode}"
          android:versionName="${versionName}">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".MuzimaApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_logo"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="android.app.default_searchable"
                android:value="com.muzima.view.SearchResultsActivity"/>

        <activity
                android:name=".view.DisclaimerActivity"
                android:label="mUzima Disclaimer"/>
        <activity
                android:name=".view.MainActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.concept.ConceptListActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_concepts"/>
        <activity
                android:name=".view.location.LocationListActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_locations"/>
        <activity
                android:name=".view.login.LoginActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/app_name"
                android:theme="@style/LoginTheme"/>
        <activity
                android:name=".view.cohort.CohortActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_cohorts"
                android:parentActivityName=".view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.MainActivity"/>
        </activity>
        <activity
                android:name=".view.preferences.SettingsActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_settings"
                android:parentActivityName=".view.MainActivity"
                android:theme="@style/PreferencesTheme"/>
        <activity
                android:name=".view.preferences.ProviderPreferenceActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_providers"
                android:parentActivityName=".view.preferences.SettingsActivity"
                android:theme="@style/PreferencesTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.preferences.SettingsActivity"/>
        </activity>
        <activity
                android:name=".view.provider.ProviderListActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_providers"/>
        <activity
                android:name=".view.preferences.CohortPreferenceActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_cohort_prefix"
                android:parentActivityName=".view.preferences.SettingsActivity"
                android:theme="@style/PreferencesTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.preferences.SettingsActivity"/>
        </activity>
        <activity
                android:name=".view.preferences.ConceptPreferenceActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_concepts"
                android:parentActivityName=".view.preferences.SettingsActivity"
                android:theme="@style/PreferencesTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.preferences.SettingsActivity"/>
        </activity>
        <activity
                android:name=".view.preferences.LocationPreferenceActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_locations"
                android:parentActivityName=".view.preferences.SettingsActivity"
                android:theme="@style/PreferencesTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.preferences.SettingsActivity"/>
        </activity>
        <activity
                android:name=".view.HelpActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_help"
                android:parentActivityName=".view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.MainActivity"/>
        </activity>
        <activity
                android:name=".view.WebViewActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_help"
                android:parentActivityName=".view.BaseActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.WebViewActivity"/>
        </activity>
        <activity
                android:name=".view.patients.PatientsListActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_clients"
                android:parentActivityName=".view.MainActivity"
                android:windowSoftInputMode="adjustResize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.MainActivity"/>
        </activity>
        <activity
                android:name=".view.patients.PatientRemoteSearchListActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_clients"/>
        <activity
                android:name=".view.forms.FormsActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_forms"
                android:parentActivityName=".view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.MainActivity"/>
        </activity>
        <activity
            android:name=".view.forms.FormWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/general_form"
            android:parentActivityName=".view.forms.FormsActivity"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.forms.FormsActivity"/>
        </activity>
        <activity
                android:name=".view.forms.HTMLFormWebViewActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_form"
                android:parentActivityName=".view.forms.FormsActivity"
                android:windowSoftInputMode="adjustResize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.forms.FormsActivity"/>
        </activity>
        <activity
                android:name=".view.patients.PatientSummaryActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_client_summary"
                android:parentActivityName=".view.patients.PatientsListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.patients.PatientsListActivity"/>
        </activity>
        <activity
                android:name=".view.forms.PatientFormsActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_client_summary"
                android:parentActivityName=".view.patients.PatientSummaryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.patients.PatientSummaryActivity"/>
        </activity>
        <activity
                android:name=".view.notifications.PatientNotificationActivity"
                android:label="@string/title_activity_client_summary"
                android:parentActivityName=".view.patients.PatientSummaryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.patients.PatientSummaryActivity"/>
        </activity>
        <activity
                android:name=".view.observations.ObservationsActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_client_observations"
                android:parentActivityName=".view.patients.PatientSummaryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.patients.PatientSummaryActivity"/>
        </activity>
        <activity
                android:name=".view.encounters.EncountersActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_client_encounters"
                android:parentActivityName=".view.patients.PatientSummaryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.patients.PatientSummaryActivity"/>
        </activity>
        <activity
                android:name=".view.encounters.EncounterSummaryActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_observations"
                android:parentActivityName=".view.patients.PatientSummaryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.encounters.EncountersActivity"/>
        </activity>
        <activity
                android:name=".view.forms.RegistrationFormsActivity"
                android:configChanges="orientation|screenSize"
                android:label="Select Registration Form"
                android:noHistory="true"/>
        <activity
                android:name=".utils.imaging.ImagingIntent"
                android:label="@string/title_activity_image"
                android:parentActivityName=".view.forms.FormsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.forms.FormsActivity"/>
        </activity>
        <activity
                android:name=".utils.audio.AudioIntent"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_audio"
                android:parentActivityName=".view.forms.FormsActivity"
                android:windowSoftInputMode="adjustResize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.forms.FormsActivity"/>
        </activity>
        <activity
                android:name=".utils.video.VideoIntent"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_video"
                android:parentActivityName=".view.forms.FormsActivity"
                android:windowSoftInputMode="adjustResize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.forms.FormsActivity"/>
        </activity>
        <activity
                android:name=".view.notifications.NotificationActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_notification"
                android:parentActivityName=".view.patients.PatientSummaryActivity"
                android:windowSoftInputMode="adjustResize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.patients.PatientSummaryActivity"/>
        </activity>
        <activity
                android:name=".view.notifications.NotificationsListActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/general_notifications"
                android:parentActivityName=".view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.MainActivity"/>
        </activity>

        <!-- Wizard Activities Start -->
        <activity
                android:name=".view.cohort.CohortWizardActivity"
                android:configChanges="orientation|screenSize"
                android:theme="@style/WizardTheme"/>
        <activity
                android:name=".view.forms.FormTemplateWizardActivity"
                android:configChanges="orientation|screenSize"
                android:theme="@style/WizardTheme"/>
        <activity
                android:name=".view.location.CustomLocationWizardActivity"
                android:configChanges="orientation|screenSize"
                android:theme="@style/WizardTheme"/>
        <activity
                android:name=".view.provider.CustomProviderWizardActivity"
                android:configChanges="orientation|screenSize"
                android:label="Define Custom Concept"
                android:theme="@style/WizardTheme"/>
        <activity
                android:name=".view.concept.CustomConceptWizardActivity"
                android:configChanges="orientation|screenSize"
                android:label="Define Custom Concept"
                android:theme="@style/WizardTheme"/>
        <activity
                android:name=".view.InstallBarCodeWizardActivity"
                android:configChanges="orientation|screenSize"
                android:label="Install Barcode Scanner"
                android:theme="@style/WizardTheme"/>
        <activity
                android:name=".view.setupconfiguration.SetupMethodPreferenceWizardActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:label="Setup Method"
                android:screenOrientation="portrait"
                android:theme="@style/WizardTheme"
                android:windowSoftInputMode="adjustNothing"/>
        <activity
                android:name=".view.setupconfiguration.GuidedConfigurationWizardActivity"
                android:configChanges="orientation|screenSize"
                android:label="Guided Setup Wizard"
                android:theme="@style/WizardTheme"/>
        <!-- Wizard Activities End -->

        <activity
                android:name=".view.reports.ProviderReportViewActivity"
                android:configChanges="orientation|screenSize"
                android:label="Provider Reports"
                android:parentActivityName=".view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.MainActivity" />
        </activity>
        <activity
                android:name=".view.reports.ProviderReportListActivity"
                android:configChanges="orientation|screenSize"
                android:label="Provider Reports"
                android:parentActivityName=".view.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.muzima.view.MainActivity" />
        </activity>

        <receiver android:name=".utils.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".service.DataSyncService"
                android:exported="false"/>
        <service
                android:name=".view.progressdialog.ProgressDialogUpdateIntentService"
                android:exported="false"/>

        <activity
                android:name="org.acra.CrashReportDialog"
                android:excludeFromRecents="true"
                android:finishOnTaskLaunch="true"
                android:launchMode="singleInstance"
                android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".view.SHRObservationsDataActivity"/>
        <activity android:name=".view.notifications.ConversationActivity" />

        <service android:name=".scheduler.MuzimaJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="70e802951d17c2d41d3591d642d1621cd703d32a" />
    </application>

</manifest>